<div class="header"><h2>Admin Dashboard</h2>
  <div><%= link_to "Admin Merchants Index", admin_merchants_path %></div>
  <div><%= link_to "Admin Invoices Index", admin_invoices_path %></div>
</div>

<section id="top-five-customers">
  <h3>Top Customers</h3>
  <ol>
    <% @customers.each do |customer| %>
      <li><%= "#{customer.first_name} #{customer.last_name} - #{customer.successful_transactions_count} succesful transactions" %>
    <% end %>
  </ol>
</section>

<section id="incomplete-invoices">
  <h3>Incomplete Invoices</h3>
  <ul>
    <% @invoices.each do |invoice| %>
      <li><%= link_to "Invoice ##{invoice.id}", admin_invoice_path(invoice) %> -
          <%= invoice.created_at.strftime("%A, %B %d, %Y") %>
      </li>
    <% end %>
  </ul>
</section>
