<h1>Merchant Item Details</h1>

<h3>Merchant: <%= @merchant.name %></h3>

<p><b>Item Name: </b><%= @merchant.items.find(params[:id]).name %></p>
<p><b>Item Description: </b><%= @merchant.items.find(params[:id]).description %></p>
<p><b>Current Selling Price: </b><%= number_to_currency(@merchant.items.find(params[:id]).unit_price / 100.to_f) %></p>

<h4><%= link_to "Update Item", edit_merchant_item_path(@merchant, @merchant.items.find(params[:id])) %></h4>
<% if flash[:success].present? %>
  <div class="flash flash-success">
  <h4><%= flash[:success] %></h4>
  </div>
<% end %>